/* PHASE 4: Footer */
.footer {
  display: block;
  background: #fff;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin: 0 auto;
  width: 880px;
  padding: 20px 10px;
  font-size: 14px;
  font-weight: 400;
  color: #aaa;
}

.footer a {
  display: block;
}

.copyright {
  float: left;
  padding-left: 10px;
}

.footer-list {
  float: right;
  height: auto;
  width: 500px;
}

.footer-list > li {
  float: right;
  padding: 0px 10px;

}
